@import "../../../styles/colors";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 82px;

  .activeLine {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: $orange;
    height: 50%;
    width: 4px;
    border-radius: 0 10px 10px 0;
  }

  .image {
    width: 30px;
    height: 30px;
  }

  .activeImage {
    filter: invert(67%) sepia(87%) saturate(3438%) hue-rotate(331deg) brightness(99%) contrast(104%);
  }
}
